# Data Science Tools and Ecosystem

**Objectives:**
- Popular languages in data science
- Common libraries used by data scientists
- Data science tools
- Arithmatic operations in python
- Converting minutes into hours

In this notebook data science tools and ecosystems are summarized

Some of the popular languages that data scientits use are:
1. Python
2. R
3. Java
4. Julia
5. Scala

Some of the commonly used libraries by data scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. ggplot
5. Scikit-learn

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| Spyder |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Sumedha Milmile